<or>
  <hostname op="=" value="rt-qe-01.lab.eng.brq.redhat.com"/>
  <hostname op="=" value="rt-qe-02.lab.eng.brq.redhat.com"/>
  <hostname op="=" value="rt-qe-03.lab.eng.brq.redhat.com"/>
  <hostname op="=" value="rt-qe-04.lab.eng.brq.redhat.com"/>
  <hostname op="=" value="rt-qe-06.lab.eng.rdu2.redhat.com"/>
  <hostname op="=" value="rt-qe-07.lab.eng.rdu2.redhat.com"/>
</or>
