{% if (ARCH != "s390x") and (ARCH != "ppc64") %}
<and>
    <cpu_count op="&gt;" value="2"/>
    <key_value key="DISKSPACE" op="&gt;=" value="50000"/>
    <hypervisor op="=" value=""/>
</and>
{% endif %}
